<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sricraft">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SriCraft"
        tools:targetApi="31">
        <activity
            android:name=".AllMessages"
            android:exported="false" />
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name=".EditOrder"
            android:exported="false" />
        <activity
            android:name=".AllOrders"
            android:exported="true" />
        <activity
            android:name=".Checkout"
            android:exported="false" />
        <activity
            android:name=".AddToCart"
            android:exported="false" />
        <activity
            android:name=".EditCategory"
            android:exported="false" />
        <activity
            android:name=".AddCategory"
            android:exported="true" />
        <activity
            android:name=".Categories"
            android:exported="true" />
        <activity
            android:name=".Feedback"
            android:exported="true" />
        <activity
            android:name=".CardPayment"
            android:exported="true" />
        <activity
            android:name=".EditItem"
            android:exported="false" />
        <activity
            android:name=".AllItems"
            android:exported="true"
            android:label="Your Items" />
        <activity
            android:name=".AddItem"
            android:exported="true" />
        <activity
            android:name=".ContactUs"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".Market"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.SriCraft.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="true"
            android:theme="@style/Theme.SriCraft.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>